/dev/cam-hyp-intf*        0660   system     camera
/dev/cpu_dma_latency      0660   root       system

#permissions for 3DSL
/dev/cam-sl-eeprom        0660   system     system
/dev/flood                0660   system     system
/dev/rtmv20               0660   system     system

#permissions for TAS
/dev/tiload_node          0660   system     system

# native sensors input
/sys/devices/virtual/input/input*   enable_int       0660  system   input
/sys/devices/virtual/input/input*   gyro_op_mode     0660  system   input
/sys/devices/virtual/input/input*   acc_range        0660  system   input
/sys/devices/virtual/input/input*   acc_value        0660  system   input
/sys/devices/virtual/input/input*   gyro_odr         0660  system   input
/sys/devices/virtual/input/input*   fifo_data_sel    0660  system   input
/sys/devices/virtual/input/input*   fifo_watermark   0660  system   input
/sys/devices/virtual/input/input*   enable           0660  system   input
/sys/devices/virtual/input/input*   acc_odr          0660  system   input
/sys/devices/virtual/input/input*   temperature      0660  system   input
/sys/devices/virtual/input/input*   acc_op_mode      0660  system   input
/sys/devices/virtual/input/input*   fifo_bytecount   0660  system   input
/sys/devices/virtual/input/input*   gyro_range       0660  system   input
/sys/devices/virtual/input/input*   gyro_value       0660  system   input

# GNSS PPS Device premissions
/dev/pps*                  0660   gps     gps

/sys/class/graphics/fb0     dynamic_bitclk           0664    system  graphics

#KCAL
/sys/module/msm_drm/parameters/  0666 system system
